@using Microsoft.AspNetCore.Components.Routing

<div name="@nameof(ClGroupLink)" class="@(_class)">
    <ClNavLinkTemplate class="text-background-on px-5 min-w-[100px] text-lg sm:text-2xl hover:border-b-2 hover:border-primary hover:border-b-4"
                       InActiveClass="border-secondary border-b-2"
                       ActiveClass="border-primary text-secondary-on border-b-4 bg-gradient-to-br rounded-t-xl from-secondary-container via-secondary to-secondard-container  "
                       Match="NavLinkMatch.Prefix" Link="@Link">
        @ChildContent
    </ClNavLinkTemplate>

</div>

@code {
    [Parameter]
    public string Link { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    private string _class = string.Empty;

    protected override void OnParametersSet()
    {
        _class = string.Empty;
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out var obj))
            _class = Convert.ToString(obj);
    }
}
